.window-button-container {
  justify-items: flex-end;
  display: flex;
  margin: -5px;
}

.window-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  border: none;
  background: none;

  & > div {
    transform: scale(0.65);
  }

  svg {
    stroke: white;
    stroke-width: 1.5;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }

  &:active,
  &:focus {
    border: none;
    outline: none;
  }

  &--close {
    svg {
      transform: scale(0.8);
    }

    &:hover {
      background: rgba(255, 0, 0, 1);
    }
  }

  &--maximize {
    svg {
      transform: scaleX(-0.6) scaleY(0.6);
    }
  }
}
